results/
*.tar.gz
results/2013_taxonomy/
*.icloud
results/all_ts/
results/2013_binning/annotations/
results/assemblies/
*.RProj
*.RData
results/annotations/2019-07-29-KO-redone/all-ebpr-prots.faa
kallisto_results/
*.icloud
metabolism-summaries/
raw-data/
all-bins-coded/
figs/
.Rhistory
.DS_Store
EBPR-annotations/
genomes/
.Rproj.user
